@font-face {
    font-family: "Medium";
    src: local("Medium"), url("./assets/fonts/Outfit-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Regular";
    src: local("Regular"), url("./assets/fonts/Outfit-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Bold";
    src: local("Bold"), url("./assets/fonts/Outfit-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "SemiBold";
    src: local("SemiBold"), url("./assets/fonts/Outfit-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "ExtraBold";
    src: local("ExtraBold"), url("./assets/fonts/Outfit-ExtraBold.ttf") format("truetype");
}
